<header class="header">
    <div class="header-title">
        <p class="header-title-sitename">{{ .Site.Title }}</p>
        <p class="header-title-catchphrase">{{ .Site.Params.catchphrase }}</p>
    </div>
    {{- with .Site.Params.navigation.header -}}
    {{- $tmp := newScratch -}}
    <nav class="header-navi">
        <ul>
        {{- range . -}}
            {{- partial "snippets/menu_item.html" (dict "Site" $.Site "item" . "result" $tmp) -}}
            <li><a href="{{ $tmp.Get "link" }}">{{ $tmp.Get "text" }}</a></li>
        {{- end -}}
        </ul>
    </nav>
    {{- end -}}
</header>
