<header class="header">
    <div class="header-title">
        <p class="header-title-sitename"><a href="{{.Site.BaseURL}}">{{ .Site.Title }}</a></p>
        <p class="header-title-catchphrase">{{ .Site.Params.catchphrase }}</p>
    </div>
    {{- with .Site.Params.navigation.header -}}
    <input id="header-drawer" class="header-drawer" type="checkbox">
    <label class="header-drawer-button" for="header-drawer">MENU</label>
    {{- $tmp := newScratch -}}
    <nav class="header-navi">
        <ul class="header-navi-menu">
        {{- range . -}}
            {{- partial "snippets/menu_item.html" (dict "Site" $.Site "item" . "result" $tmp) -}}
            <li><a href="{{ $tmp.Get "link" }}">{{ $tmp.Get "text" }}</a></li>
        {{- end -}}
        </ul>
    </nav>
    {{- end -}}
</header>
