<header class="header">
    <div class="header-title">
        <p class="header-title-sitename">{{ .Site.Title }}</p>
        <p class="header-title-catchphrase">{{ .Site.Params.catchphrase }}</p>
    </div>
    {{- with .Site.Params.navigation.header -}}
    <nav class="header-navi">
        <ul>
        {{- range . -}}
            {{- $text := "" -}}
            {{- $link := "" -}}
            {{- with .page -}}
                {{- with $.Site.GetPage . -}}
                    {{- $text = .LinkTitle -}}
                    {{- $link = .Permalink -}}
                {{- end -}}
            {{- end -}}
            {{- with .text -}}
                {{- $text = . -}}
            {{- end -}}
            {{- with .link -}}
                {{- $link = . -}}
            {{- end -}}
            <li><a href="{{$link}}">{{$text}}</a></li>
        {{- end -}}
        </ul>
    </nav>
    {{- end -}}
</header>
